.nav-wrapper {
    background-color: #ef6c00;
}

nav li {
    text-shadow: 2px, 2px, 2px, rgba(0,0,0,0.5);
    background-color: #ef6c00;
}

.centered-text {
    text-align: center;
}

.small-text {
    font-size: xx-small;
}

.page-footer {
    background-color: #ef6c00;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body, html {
    height: 100%;
}

.header-block {
    position: relative;
}

.hero-image {
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

/* Place text in the middle of the image */
.hero-image .hero-text {
    max-width: 90%;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 4px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

i.icon-grey {
    color: rgb(128, 128, 128);
}

.flask-text {
    color: rgb(102, 102, 102);
}

.page-header {
    color: rgb(128, 128, 128);
}
