{% extends "base.html" %}
{% block content %}

    <h5 class="center page-header"><br>These are a few of the common uses for Life Tracker, but feel free to invent your own!</h5>
        <aside class="center orange-text home-page-text">You can register to create your own account and keep your records updated
            by adding new, editing or deleting your private items. <br>
            You can also try Life Tracker by using the 'Demo' account, you cannot edit or delete records in the Demo, 
            but you can add new items to test that functionality.
        </aside>
        <div class="row">
            <!-- 6 suggestion cards, each with static data and a link to the demo account -->
            <div class="col s12 m6 l4">
                <div class="card medium hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='media/images/luggage.jpg') }}" alt="Picture of luggage, have you ever lost travel luggage">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ever lost your travel luggage?<i class="material-icons right">more_vert</i></span>
                    <p><a class="my-links" href="{{ url_for('demo') }}">Open the demo account</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Ever lost your travel luggage?<i class="material-icons right">close</i></span>
                    <p>We have, and we'd bet that even if you haven't you know someone who has? <br> Did you know that in order to claim from the airlines or even your own travel insurance that you need to produce receipts for everything you have lost! <br>You do have the receipt for that 3-pack of socks you bought 2 years ago, don't you?</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='media/images/receipts.jpg') }}" alt="Bundle of paper receipts">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">File all those purchase receipts easily!<i class="material-icons right">more_vert</i></span>
                    <p><a class="my-links" href="{{ url_for('demo') }}">Open the demo account</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">File all those purchase receipts easily!<i class="material-icons right">close</i></span>
                    <p>Do you keep all the receipts for your purchased devices, hardware etc? <br>Simply use your phone to snap all receipts for goods and services and instantly file them away in Life Tracker.  <br>Then if the item breaks in 11 months time you can easily retrieve a copy of the receipt to claim on the manufacturers warranty.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='media/images/insurance.jpg') }}" alt="Image of car being worked on, more bills">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Home and car bills, passport renewal?<i class="material-icons right">more_vert</i></span>
                    <p><a class="my-links" href="{{ url_for('demo') }}">Open the demo account</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Home and car bills, passport renewal?<i class="material-icons right">close</i></span>
                    <p>So many of our regular bills can be paid for annually.  <br>Use Life Tracker to get accurate reminders when all of these items will be requiring renewal.  Home insurance, Council tax, TV license, car insurance, MOT test, car tax, annual servicing.  Some items last several years but you still need a reminder, passport, driving license, EIHC card.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='media/images/warranty.jpg') }}" alt="Image shows an extended warranty sign">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Got any extended warranties?<i class="material-icons right">more_vert</i></span>
                    <p><a class="my-links" href="{{ url_for('demo') }}">Open the demo account</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Got any extended warranties?<i class="material-icons right">close</i></span>
                    <p>Many manufacturers offer free or paid options for extended warranties, but they know that after 2 or 3 years very few people claim on these offers. <br>Use Life tracker to keep a record of purchase date, purchase place, warranty included and warranty expiration date. <br>Get reminders when the warranty offered will expire, is your device still working as expected?  If not get value for money by contacting the manufacturer before the expiration date.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='media/images/burglar.jpg') }}" alt="A burglar looking to break into a home">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Do you pay for home insurance?<i class="material-icons right">more_vert</i></span>
                    <p><a class="my-links" href="{{ url_for('demo') }}">Open the demo account</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Do you pay for home insurance?<i class="material-icons right">close</i></span>
                    <p>A burglary at your property is a terrible experience and if you didn't have home insuranace the value of stolen goods is lost. <br>If you did have home insurance, you will need to produce receipts for all of the stolen items in order to claim.  <br>Life Tracker can't stop these things from happening, but it can help to make the aftermath easier to deal with.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='media/images/moving.jpg') }}" alt="Picture shows a home removal in process">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Moving home can be really stressful<i class="material-icons right">more_vert</i></span>
                    <p><a class="my-links" href="{{ url_for('demo') }}">Open the demo account</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Moving home can be really stressful<i class="material-icons right">close</i></span>
                    <p>We all know that moving home can be incredibly stressful, create a list of date ordered tasks in Life Tracker to ensure you don't forget to do anything. <br>Redirecting mail, contacting utility suppliers, updating your employers HR records, telling your bank.  All easy items to overlook in the process of moving, use Life Tracker to reduce your stress!</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
