{% extends "base.html" %}
{% block content %}
    <div>
        <a href="#" onclick="add_new_item()" class="btn-floating top-fab waves-effect waves-light icon-grey btn-large center tooltipped" data-position="right" data-tooltip="Add a brand new item"><i class="material-icons">add</i></a>
    </div>

    <form id="form-new-item" style="display: none;" method="POST" action="{{ url_for('items') }}">
        <div id="card-new-item" class="row card z-depth-5">
                <div class="col s12">
                    <div class="card-title title-class">
                        <!-- <label for="new_item_title">Enter title of this item</label> -->
                        <label for="new_item_title">Enter title of this item</label>
                        <input id="new_item_title" name="new_item_title" \class="input-field col s12" maxlength="80" data-length="80" placeholder="" type="text" validate>
                    </div>
                </div>

                <div class="card-data col s12">
                    <div>
                        <label for="new_item_description">Item description</label>
                        <textarea id="new_item_description" name="new_item_description" class="input-field materialize-textarea" maxlength="225" data-length="225" placeholder="" validate></textarea>
                    </div>
                </div>

                <div class="card-action card-footer col s12">
                    <div class="row">
                        <div class="input-field col s2">
                            <input id="new_item_cost" name="new_item_cost" type="text" class="input-field" placeholder="0" validate>
                            <label for="new_item_cost">Cost</label>
                        </div>
                        <div class="col s4">
                            <!-- <input id="new_item_start_date" value="" type="text" class="input-field footer-text datepicker" disabled="disabled">
                            <label for="new_item_start_date">Date created</label> -->
                        </div>
                        <div class="input-field col s4 centered">
                            <input id="new_item_expiry_date" name="new_item_expiry_date" type="text" placeholder="" class="input-field datepicker">
                            <label for="new_item_expiry_date">Expires</label>
                        </div>
                        <div class="input-field col s2 right">
                            <input id="new_item_recurs_months" name="new_item_recurs_months" type="number" min-number="0" placeholder="12" class="input-field">
                            <label for="new_item_recurs_months">Recurs?</label>
                        </div>
                    </div>
                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light orange darken-1 default" id="btnAddNewItem" type="submit" name="action">Add new item
                        <i class="material-icons right">add</i>
                    </button>
                </div>  
        </div>
    </form>

    <br><br>

    {% for item in items %}
        <div id="{{ item._id }}" class="row card">                
            <div class="card-title title-class col s12">
                <input id="item_title{{ item.item_title }}" class="input-field title-text col s4 m7 l9" value="{{ item.item_title }}" type="text" readonly>
                <a href="#"><i class="material-icons item-icons icon-grey right">delete</i></a>
                <a href="#"><i class="material-icons item-icons icon-grey right">queue</i></a>
                <a href="#"><i class="material-icons item-icons icon-grey right">edit</i></a>
            </div>

            <div class="card-data col s12">
                <div>
                    <textarea id="item_description{{ item.item_description }}" class="input-field item-text materialize-textarea" readonly>{{ item.item_description }}</textarea>
            
                </div>
            </div>

            <div class="card-action card-footer col s12">
                <div class="row">
                    <div class="input-field col s2">
                        <input id="item_cost{{ item._id }}" value="{{ item.item_cost }}" type="text" class="input-field footer-text" disabled="disabled" readonly>
                        <label for="item_cost{{ item._id }}">Cost</label>
                    </div>
                    <div class="input-field col s4 center">
                        <input id="item_start_date{{ item._id }}" value="{{ item.item_start_date.strftime('%Y-%m-%d') }}" type="text" class="input-field footer-text datepicker" disabled="disabled" validate readonly>
                        <label for="item_start_date{{ item._id }}">Created</label>
                    </div>
                    <div class="input-field col s4 centered">
                        <input id="item_expiry_date{{ item._id }}" value="{{ item.item_expiry_date.strftime('%Y-%m-%d') }}" type="text" class="input-field footer-text datepicker" disabled="disabled" readonly>
                        <label for="item_expiry_date{{ item._id }}">Expires</label>
                    </div>
                    <div class="input-field col s2 right">
                        <input id="item_recurs_months{{ item._id }}" value="{{ item.item_recurs_months }}" type="number" class="input-field footer-text" disabled="disabled" readonly>
                        <label for="item_recurs_months{{ item._id }}">Recurs</label>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
<script>
    function add_new_item() {
        var x = document.getElementById("form-new-item");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
        
</script>

{% endblock %}