{% extends "base.html" %}
{% block content %}
    <div>
        <a href="#" onclick="add_new_item()" class="btn-floating top-fab waves-effect waves-light icon-grey btn-large center tooltipped" data-position="right" data-tooltip="Add a brand new item"><i class="material-icons">add</i></a>
    </div>

    <form id="form-new-item" style="display: none;" method="POST" action="{{ url_for('items') }}">
        <div id="card-new-item" class="row card z-depth-5">
                <div class="col s12">
                    <div class="card-title title-class-new">
                        <!-- <label for="new_item_title">Enter title of this item</label> -->
                        <label for="new_item_title">Enter title of this item</label>
                        <input id="new_item_title" name="new_item_title" class="input-field col s12" maxlength="80" data-length="80" placeholder="" type="text" required="" aria-required="true" validate>
                    </div>
                </div>

                <div class="card-data col s12">
                    <div>
                        <label for="new_item_description">Item description</label>
                        <textarea id="new_item_description" name="new_item_description" class="input-field materialize-textarea" maxlength="225" data-length="225" placeholder="" required="" aria-required="true" validate></textarea>
                    </div>
                </div>

                <div class="card-action card-footer col s12">
                    <div class="row">
                        <div class="input-field col s2">
                            <input id="new_item_cost" name="new_item_cost" type="text" class="input-field" placeholder="0" required="" aria-required="true" validate>
                            <label for="new_item_cost">Cost</label>
                        </div>
                        <div class="col s4">
                            
                        </div>
                        <div class="input-field col s4 centered">
                            <input id="new_item_expiry_date" name="new_item_expiry_date" type="text" placeholder="" required="" aria-required="true" validate class="input-field datepicker">
                            <label for="new_item_expiry_date">Expires</label>
                        </div>
                        <div class="input-field col s2 right">
                            <input id="new_item_recurs_months" name="new_item_recurs_months" type="number" min-number="0" placeholder="12" class="input-field">
                            <label for="new_item_recurs_months">Recurs?</label>
                        </div>
                    </div>
                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light orange darken-1 default" id="btnAddNewItem" type="submit" name="action">Add new item
                        <i class="material-icons right">add</i>
                    </button>
                </div>  
        </div>
    </form>

    <br><br>

    <div class="row tabs-header">       
        <ul id="tabs-swipe" class="tabs tabs-fixed-width z-depth-2">
            <li class="tab col"><a class="item-tab" href="#renewables-swipe-1">Recurring</a></li>
            <li class="tab col"><a class="item-tab" href="#warranties-swipe-2">Warranties</a></li>
        </ul>
    </div>

    <div id="renewables-swipe-1" class="col s12 tab-border">
        {% for item in items_renewables %}
            <!-- <form id="form-edit-item{{ item._id }}" method="POST" action="{{ url_for('items') }}"> -->
            <form id="form-edit-item{{ item._id }}" method="POST" action="{{ url_for('edit_item', item_id=item._id) }}">
                <div id="{{ item._id }}" class="card">
                    <div class="row">
                        <div class="card-title title-class col s12">
                            <input id="item_title{{ item._id }}" name="item_title{{ item._id }}" class="input-field title-text col s6 m8 l10" maxlength="80" data-length="80" value="{{ item.item_title }}" type="text" readonly required="" aria-required="true" validate>
                            <button id="btn_save_edit{{ item._id }}" class="icon-hidden right icon-save btn-small waves-effect waves-light orange darken-1 default" type="submit" name="action">Save<i class="material-icons right" tooltipped data-position="right" data-tooltip="Save this modified item">save</i>
                            </button>
                            <a href="{{ url_for('delete_item', item_id=item._id) }}" onclick="enable_deletes('{{ item._id }}');"><i id="icon_delete{{ item._id }}" class="material-icons item-icons icon-grey right tooltipped" data-position="right" data-tooltip="Delete this item!">delete</i></a>
                            <a href="#" onclick="enable_edits('{{ item._id }}'); return false;"><i id="icon_edit{{ item._id }}" class="material-icons item-icons icon-grey right tooltipped" data-position="right" data-tooltip="Edit this item">edit</i></a>
                        </div>
                    </div>

                    <div class="card-data col s12">
                        <div>
                            <textarea id="item_description{{ item._id }}" name="item_description{{ item._id }}" class="input-field item-text materialize-textarea" maxlength="225" data-length="225" required="" aria-required="true" validate readonly>{{ item.item_description }}</textarea>
                        </div>
                    </div>

                    <div class="card-action card-footer col s12">
                        <div class="row">
                            <div class="input-field col s2">
                                <input id="item_cost{{ item._id }}" name="item_cost{{ item._id }}" value="{{ item.item_cost }}" type="text" class="input-field footer-text"  required="" aria-required="true" validate readonly>
                                <label for="item_cost{{ item._id }}">Cost</label>
                            </div>
                            <div class="input-field col s4 center">
                                <input id="item_start_date{{ item._id }}" name="item_start_date{{ item._id }}" value="{{ item.item_start_date.strftime('%Y-%m-%d') }}" type="text" class="input-field footer-text datepicker" disabled validate readonly>
                                <label for="item_start_date{{ item._id }}">Created</label>
                            </div>
                            <div class="input-field col s4 centered">
                                {% if item.item_expiry_date %}
                                    <input id="item_expiry_date{{ item._id }}" name="item_expiry_date{{ item._id }}" value="{{ item.item_expiry_date.strftime('%Y-%m-%d') }}" type="text" class="input-field footer-text datepicker" disabled validate readonly>
                                {% else %}
                                    <input id="item_expiry_date{{ item._id }}" name="item_expiry_date{{ item._id }}"  value="Never" type="text" class="input-field footer-text datepicker" readonly>
                                {% endif %}
                                <label for="item_expires_date{{ item._id }}">Expires</label>
                            </div>
                            <div class="input-field col s2 right">
                                <input id="item_recurs_months{{ item._id }}" name="item_recurs_months{{ item._id }}" value="{{ item.item_recurs_months }}" type="number" class="input-field footer-text" readonly>
                                <label for="item_recurs_months{{ item._id }}">Recurs</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>

    <div id="warranties-swipe-2" class="col s12 tab-border">
        {% for item in items_warranties %}
            <!-- <form id="form-edit-item{{ item._id }}" method="POST" action="{{ url_for('items') }}"> -->
            <form id="form-edit-item{{ item._id }}" method="POST" action="{{ url_for('edit_item', item_id=item._id) }}">
                <div id="{{ item._id }}" class="card">
                    <div class="row">
                        <div class="card-title title-class col s12">
                            <input id="item_title{{ item._id }}" name="item_title{{ item._id }}" class="input-field title-text col s6 m8 l10" maxlength="80" data-length="80" value="{{ item.item_title }}" type="text" readonly required="" aria-required="true" validate>
                            <button id="btn_save_edit{{ item._id }}" class="icon-hidden right icon-save btn-small waves-effect waves-light orange darken-1 default" type="submit" name="action">Save<i class="material-icons right" tooltipped data-position="right" data-tooltip="Save this modified item">save</i>
                            </button>
                            <a href="{{ url_for('delete_item', item_id=item._id) }}" onclick="enable_deletes('{{ item._id }}');"><i id="icon_delete{{ item._id }}" class="material-icons item-icons icon-grey right tooltipped" data-position="right" data-tooltip="Delete this item!">delete</i></a>
                            <a href="#" onclick="enable_edits('{{ item._id }}'); return false;"><i id="icon_edit{{ item._id }}" class="material-icons item-icons icon-grey right tooltipped" data-position="right" data-tooltip="Edit this item">edit</i></a>
                        </div>
                    </div>

                    <div class="card-data col s12">
                        <div>
                            <textarea id="item_description{{ item._id }}" name="item_description{{ item._id }}" class="input-field item-text materialize-textarea" maxlength="225" data-length="225" required="" aria-required="true" validate readonly>{{ item.item_description }}</textarea>
                        </div>
                    </div>

                    <div class="card-action card-footer col s12">
                        <div class="row">
                            <div class="input-field col s2">
                                <input id="item_cost{{ item._id }}" name="item_cost{{ item._id }}" value="{{ item.item_cost }}" type="text" class="input-field footer-text"  required="" aria-required="true" validate readonly>
                                <label for="item_cost{{ item._id }}">Cost</label>
                            </div>
                            <div class="input-field col s4 center">
                                <input id="item_start_date{{ item._id }}" name="item_start_date{{ item._id }}" value="{{ item.item_start_date.strftime('%Y-%m-%d') }}" type="text" class="input-field footer-text datepicker" disabled validate readonly>
                                <label for="item_start_date{{ item._id }}">Created</label>
                            </div>
                            <div class="input-field col s4 centered">
                                {% if item.item_expiry_date %}
                                    <input id="item_expiry_date{{ item._id }}" name="item_expiry_date{{ item._id }}" value="{{ item.item_expiry_date.strftime('%Y-%m-%d') }}" type="text" class="input-field footer-text datepicker" disabled validate readonly>
                                {% else %}
                                    <input id="item_expiry_date{{ item._id }}" name="item_expiry_date{{ item._id }}"  value="Never" type="text" class="input-field footer-text datepicker" readonly>
                                {% endif %}
                                <label for="item_expiry_date{{ item._id }}">Expires</label>
                            </div>
                            <div class="input-field col s2 right">
                                <input id="item_recurs_months{{ item._id }}" name="item_recurs_months{{ item._id }}" value="{{ item.item_recurs_months }}" type="number" class="input-field footer-text" readonly>
                                <label for="item_recurs_months{{ item._id }}">Recurs</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>


<script>
    function add_new_item() {
        var x = document.getElementById("form-new-item");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function check_expiry(value) {
        var expiry;
        if (value) {
            expiry = date.strftime('%Y-%m-%d');
        } else {
            expiry = "";
        return string
        }
    }

    function enable_deletes(key) {
        // alert("enable_deletes clicked - " + key)
        const urlParams = new URLSearchParams(window.location.search);
        const current_user_name = urlParams.get('username');
        // alert(current_user_name);
        if (current_user_name=="demo@life-tracker.co.uk") {
            alert("You cannot delete items when using the Demo account!");
        }
    }

    function enable_edits(key) {
        // alert("enable_edits clicked - " + key)
        const urlParams = new URLSearchParams(window.location.search);
        const current_user_name = urlParams.get('username');
        // alert(current_user_name);
        if (current_user_name=="demo@life-tracker.co.uk") {
            alert("You cannot edit items when using the Demo account!");
        } else {
            var card = document.getElementById(key);
            card.classList.add("enable-edit");
            card.classList.add("z-depth-4");
            var title = document.getElementById("item_title" + key);
            $(title).removeAttr('readonly');
            var desc = document.getElementById("item_description" + key);
            $(desc).removeAttr('readonly');
            var cost = document.getElementById("item_cost" + key);
            $(cost).removeAttr('readonly');
            var start = document.getElementById("item_start_date" + key);
            $(start).removeAttr('readonly');
            $(start).removeAttr('disabled');
            var expires = document.getElementById("item_expiry_date" + key);
            $(expires).removeAttr('readonly');
            $(expires).removeAttr('disabled');
            var recurs = document.getElementById("item_recurs_months" + key);
            $(recurs).removeAttr('readonly');
            var icon_edit = document.getElementById("icon_edit" + key);
            icon_edit.classList.add("icon-hidden");
            var icon_delete = document.getElementById("icon_delete" + key);
            icon_delete.classList.add("icon-hidden");            
            var btn_save = document.getElementById("btn_save_edit" + key);
            btn_save.classList.remove("icon-hidden");
        }
    }
</script>

{% endblock %}