{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h5 class="center page-header">Enter your logon details here to view your Life Tracker data</h5>
        <div class="row">
            <div class="col12 center">
                <!-- Jump from logon to register -->
                <p>(Register<a href="{{ url_for('register') }}" class="my-links"> here </a>to create a new Life Tracker account)</p>
            </div>
        </div>
            
        <form method="POST" action="{{ url_for('logon') }}">
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                    <i class="material-icons prefix icon-grey">email</i>
                    <input id="user_email" name="user_email" type="email" class="validate" required="" aria-required="true">
                    <label for="user_email">Enter your Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                    <i class="material-icons prefix icon-grey">verified_user</i>
                    <input id="user_password" name="user_password" type="password" class="validate" required="" aria-required="true">
                    <label for="user_password">Password</label>
                </div>
            </div>
            <div class="row center input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                    <p class="centered-text small-text">
                        These are the standard terms and conditions for using Life Tracker. <br> Only use your Life Tracker account if you trust us, but we are good people.
                    </p>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light orange darken-1 default" id="btnTandCs" type="submit" name="action">Logon
                    <i class="material-icons right">send</i>
                </button>
            </div>  
        </form>
    </div>

{% endblock %}