{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h5 class="center">Enter your details here to create a new Life Tracker account</h5>
            
        <form method="POST" action="{{ url_for('register') }}">
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                <i class="material-icons prefix icon-grey">email</i>
                <input id="user_email" name="user_email" type="email" class="validate">
                <label for="user_email">Enter a valid Email</label>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                <i class="material-icons prefix icon-grey">account_circle</i>
                <input id="user_display_name" name="user_display_name" type="text" class="validate">
                <label for="user_display_name">Display Name</label>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                <i class="material-icons prefix icon-grey">verified_user</i>
                <input id="user_password" name="user_password" type="password" class="validate">
                <label for="user_password">Password</label>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                <i class="material-icons prefix icon-grey">verified_user</i>
                <input id="user_password_validate" name="user_password_validate" type="password" class="validate">
                <label for="user_password_validate">Confirm Password</label>
            </div>
            <div class="row center">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                <p class="centered-text small-text">
                    These are the standard terms and conditions for using Life Tracker
                </p>
                </div>
            </div>
            <div class="row center">
                <p>
                <label>
                    <input type="checkbox" id="chkTerms" class="filled-in" onclick="EnableRegistration()" />
                    <span>Accept Terms?</span>
                </label>
                </p>
                <button class="btn waves-effect waves-light orange darken-1 disabled" id="btnTandCs" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>  
        </form>
    </div>

<script>
    function EnableRegistration() {
        alert("Enable button...");
        var button = document.getElementById("btnTandCs");

        button.classList.toggle('disabled');
    }


    function SubmitRegistration() {
        alert("Submit Registration...");

    }
</script>
{% endblock %}