{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h5 class="center page-header">Enter your details here to create a new Life Tracker account</h5>
        <div class="row">
            <div class="col12 center">
                <!-- quick jump to logon if required -->
                <p>(Logon<a href="{{ url_for('logon') }}" class="my-links"> here </a>if you already have an account)</p>
            </div>
        </div>
            
        <form method="POST" action="{{ url_for('register') }}">
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                    <i class="material-icons prefix icon-grey">email</i>
                    <input id="user_email" name="user_email" type="email" class="validate" required="" aria-required="true">
                    <label for="user_email">Enter a valid Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                    <i class="material-icons prefix icon-grey">account_circle</i>
                    <input id="user_display_name" name="user_display_name" type="text" class="validate" minlength="6" required="" aria-required="true">
                    <label for="user_display_name">Display Name (min 6 chars)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                    <i class="material-icons prefix icon-grey">verified_user</i>
                    <input id="user_password" name="user_password" type="password" class="validate" minlength="6" required="" aria-required="true">
                    <label for="user_password">Password (min 6 chars)</label>
                </div>
            </div>
            <!-- Re-enter password and check with JS -->
            <div class="row">
                <div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                    <i class="material-icons prefix icon-grey">verified_user</i>
                    <input id="user_password_validate" name="user_password_validate" type="password" minlength="6" class="validate" required="" aria-required="true">
                    <label for="user_password_validate">Confirm Password</label>
                </div>
            </div>
            <div class="row center input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
                    <p class="centered-text small-text">
                        These are the standard terms and conditions for using Life Tracker. <br> Only create your Life Tracker account if you trust us, but we are good people.
                    </p>
            </div>
            <!-- Registering user must accept T&Cs before able to register -->
            <div class="row center">
                <p>
                <label>
                    <input type="checkbox" id="chkTerms" class="filled-in" onclick="EnableRegistration()" />
                    <span>Accept Terms?</span>
                </label>
                </p>
                <button class="btn waves-effect waves-light orange darken-1 disabled" id="btnTandCs" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>  
        </form>
    </div>

<script>
    function EnableRegistration() {
    // Allow registration UNLESS any mandatory checks fail, then inform user
    var button = document.getElementById("btnTandCs");
    var email = document.getElementById("user_email").value;
    var username = document.getElementById("user_display_name").value;
    var pw = document.getElementById("user_password").value;
    var pw_validate = document.getElementById("user_password_validate").value;       
    var valid = true;

        if (validateEmail(email) == false) {
            valid = false;
        }

        if (username.length == 0) {
            valid = false;
        }

        if (pw.length > 0) {
            if (pw != pw_validate) {
                valid = false;
                document.getElementById("user_password_validate").classList.add("invalid");
            }
        } else {
            valid = false;
        }

        if (valid) {
            button.classList.toggle('disabled');
        } else {
            alert("There ia a problem with the data entered!");
            document.getElementById("chkTerms").checked = false;
        }
    }

    // Basic email 'format' check, but better solution would be to send a validate account email
    function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

</script>
{% endblock %}